{% extends "base.html" %}
{% block extrahead %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz0lOpBpL_AwqSHDVfPepRpaBG9-4u5Jg"></script>
{% endblock %}

{% block content %}
<h2> {{ resto.name }}</h2>
<hr style="border-color: #ff6f00;">
<p>
<script type="text/javascript">
    $(document).ready(function() {
        var latlng = new google.maps.LatLng({{ resto.address.y }}, {{ resto.address.x }});
        var myOptions = {
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),myOptions);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: '{{ resto.name }}'
        });

    });
</script>
<div class="map" id="map-canvas" style="float: right; width: 400px; height: 400px;"></div>
<div class="dish-list" >
	<ul>
	{% for dish in resto.dish_set.all %}
		<li>{{ dish.name }}</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}