{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I Want Nachos</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Concert+One|Pacifico|Bree+Serif">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    {% block extrahead %}
    {% endblock extrahead %}

</head>
<body>
    <header>
        <center style="margin-top: 10px;">
            <a href="{% url 'home' %}" style="font-family: 'Concert One', cursive; font-size: 60px; color: #424242; text-decoration: none;">
            I Want Nachos
        </a>
        </center>
    </header>
    <div class="container main-block" >
        {% block content %}
        {% endblock content %}
    </div>
</body>
<footer class="end">
    <span class="footer-text" style="font-family: 'Pacifico',cursive; position: fixed; right: 2px; padding-top: 30px; bottom: 0;">owned by Manisha Pillai</span>
</footer>
</html>
